<form action="#" method="post" >
	<fieldset>
		<label>Name<abbr title="Required field">*</abbr>
			<input type="text" placeholder="Full Name" />
		</label>

		<label>Email address<abbr title="Required field">*</abbr>
			<input type="email" placeholder="email@address.com" />
		</label>

		<label>Message<abbr title="Required field">*</abbr>
			<textarea rows="5" cols="30"></textarea>
		</label>
	</fieldset>
	<fieldset>
		<select>
			<option></option>
			<option>Option 1</option>
			<option>Option 2</option>
			<option>Option 3</option>
			<option>Option 4</option>
			<option>Option 5</option>
			<option>Option 6</option>
			<option>Option 7</option>
		</select>
	</fieldset>
	<fieldset>
		<button type="submit" class="btn">Send</button>
	</fieldset>
</form>
