<form action="#" method="post" >
	<fieldset>
		<label>Name<abbr title="Required field">*</abbr>
			<input type="text" placeholder="Full Name" />
		</label>

		<label>Email address<abbr title="Required field">*</abbr>
			<input type="email" placeholder="email@address.com" />
		</label>

		<label>Message<abbr title="Required field">*</abbr>
			<textarea rows="5" cols="30"></textarea>
		</label>

		<label>
			<input type="check" /> Opt-in
		</label>

		<button type="submit" class="btn">Send</button>
	</fieldset>
</form>
